
html {
	overflow-y: scroll;
}

html, body { 
	/* Override bootstrap defaults with important */
	/*font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif !important;*/
	font-family: Arial, Helvetica, sans-serif !important;
	color: #444 !important;
}

/**
 * ----- Header styling -----
 */
header {
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	padding: 16px 0;
	z-index: 50;
	background: url(../img/banner.png) no-repeat;
	border-bottom: 1px solid #eee;
}

header > .container {
	position: relative;
}

header .links {
	text-align: right;
	margin-top: 50px;
}

header .links .bar {
	color: transparent;
	margin-right: 15px;
}

header .links a {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	margin-left: 30px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

header .links a.active {
	font-weight: bold;
}

header .links .promote-link {
	background: ;
}

header h1,
header h1 a {
	font-family: 'Ubuntu';
	font-size: 40px;
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

header h3 {

}

header h4 {
	color: #fff;
	font-size: 15px;
	font-family: 'Ubuntu';
	margin-top: -10px;
	margin-left: 2px;
	padding-top: 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

header h1 span {
	font-weight: normal;
}

header h1 a, 
header h1 a:visited, 
header h1 a:active, 
header h1 a:hover {
	color: #444;
	text-decoration: none;	
}

header .container .user {
	padding: 3px 8px;
	border-radius: 0 0 3px 3px;
	position: absolute;
	top: -16px; right: 0;
	background: #995905;
	1background: #c67f07;
}

header .container .user a {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-size: 12px;
	color: #ccc;
}

header .container .user .spacer {
	margin-left:10px;
}

.form-nice {
	margin-top: 10px;
}

.form-nice ul {
	margin-left: 0;
	list-style: none;
}

.form-nice ul > li {
	padding: 10px 0;
}

.form-nice ul > li > label.input-label {
	width: 220px;
	line-height: 30px;
	vertical-align: top;
	margin-bottom: 0;
	display: inline-block;
}

.form-nice ul > li > label.input-label > small {
	color: #c09853;
}

.form-nice label.inline {
	margin-right: 15px;
	display: inline-block;
}

.form-nice label.inline input[type=radio] {
	margin-top: -5px;
}

.form-nice ul > li > span {
	margin-left: 15px;
}

.form-nice ul > li > span > img {
	margin-top: -5px;
}

.form-nice span.invalid {
	line-height: 30px;
	vertical-align: top;
	padding-left: 5px;
	color: #B94A48;
}

.form-nice span.invalid > img {
	vertical-align: 8%;
}

.form-error-list {
	font-size: 12px !important;
	margin-bottom: 5px !important;
}

.form-nice .error {
	border-color: #B94A48;
}


/**
 * ---- Main content styling ----- 
 */

.body {
	margin-top: 130px;
}

.body h1 {
	color: #3A87AD;
}

.body h4 {
	margin-top: 0px;
}

.body h4 > small {
	margin-left: 6px;
}

.body h4 > i {
	margin-top: 5px;
}

.body h4 > small > i {
	margin-top: 2px;
}

.footer {
	margin-top: 30px;
	padding: 20px 0;
	font-size: 11px;
	color: #666;
	border-top: 1px solid #eee;
}

.alert {
	margin-bottom: 10px !important;
}

/**
 * Right side menu "widget".
 */
.menu {
	padding: 5px 20px 20px 20px;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc;
	border-radius: 4px;
}

.menu h4 {
	margin-top: 10px;
}

.menu .btn-full-width {
	width: 190px;
}

/**
 * Stacked forms
 */
.form-stacked .control-label label {
	color: #888;
	font-size: 11px;
	margin-bottom: 0px;
}

.form-stacked .control-group {
	margin-bottom: 0px;
}

/**
 * Utility class for adding pointer cursor
 * to elements.
 */
.pointer {
	cursor: pointer;
}

/**
 * ----- Trip list styles -----
 */
.trip { 
	position: relative;
	overflow: hidden;
	padding: 8px 30px 4px 8px;
	margin-bottom: 6px;
	border-radius: 5px;
	border-bottom: 1px solid #eee;
}

.trip:last-child {
	border-bottom: none;
}

.trip:hover {
	background: #f1f1f1;
}

.trip .type {
	float: left;
}

.trip .type .label {
	text-align: center;
	width: 35px;
}

.trip .type img {
	width: 40px;
	height: 40px;
}

.trip .info {
	float: left;
	margin-left: 15px;
	width: 300px;
}
.trip .info .where { 
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	width: 100%;
}

.trip .info .who { 
	font-size: 12px; color: #666; 
}

.trip .info .details { 
	font-size: 11px; 
}

.trip .intensity {
	float: right;
}

.trip .intensity.easy {
	background: #8FFF6F;
}

.trip .when {
	float: right;
	margin-left: 20px;
}

.trip .more { 
	float:right; 
	cursor: pointer; 
	padding: 3px 0;
}

.trip .participants, .trip .comments {
	text-align: center;
	float: right;
	overflow: hidden;
	margin-left: 20px;
}

.trip .participants .count, 
.trip .comments .count {
	font-weight: bold;
	font-size: 26px;
}

.trip .participants .title, 
.trip .comments, .count {
	font-size: 11px;
}

.trip.participating {
	background: #E8FFD9;
}

	