
html {
	overflow-y: scroll;
}

html, body { 
	color: #444 !important;
	font-size: 12px;
}

header {
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;

  	padding: 25px 0;
	z-index: 50;
	background: rgba(255, 255, 255, .95);
	border-bottom: 1px solid #eee;
}

h1 a, h1 a:visited, h1 a:active, h1 a:hover {
	color: #444;
	text-decoration: none;	
}


header .links {
	margin-top: 40px;
}

header .links .bar {
	color: #999;
	margin-right: 15px;
}

header .links a {
	color: #666;
	font-size: 14px;
	margin-right: 15px;
}

header .links a.active {
	font-weight: bold;
}

header h1 {
	font-size: 60px;
}

.main {
	margin-top: 120px;
}

.content {
	margin: 0 auto;
	width: 800px;
}

.menu {
	width: 300px;
}

.menu h4 {
	-color: #666;
}

.body {
	margin-top: 140px;
}

.share-caption {
	margin-top: 30px;
	margin-bottom: 12px;
}

.create-trip-button {
	width: 220px;
}

.filter-form {
	margin-top: 12x;
}

.form-stacked .control-label label {
	color: #888;
	font-size: 11px;
	margin-bottom: 0px;
}

.form-stacked .control-group {
	margin-bottom: 0px;
}

.search-caption {
}

.search-caption i {
	margin-bottom: 5px;
	vertical-align: middle;
}

.pointer {
	cursor: pointer;
}

.trip { 
	position: relative;
	overflow: hidden;
	padding: 8px 30px 4px 8px;
	margin-bottom: 6px;
	border-radius: 5px;
}

.trip:last-child {
	border-bottom: none;
}

.trip:hover {
	background: #f1f1f1;
}

.trip .type {
	float: left;
}

.trip .type .label {
	text-align: center;
	width: 35px;
}

.trip .type img {
	width: 40px;
	height: 40px;
}

.trip .info {
	float: left;
	margin-left: 15px;
}
.trip .info .where { font-weight: bold; }
.trip .info .who { font-size: 12px; color: #666; }
.trip .info .details { font-size: 11px; }

.trip .intensity {
	float: right;
}

.trip .intensity.easy {
	background: #8FFF6F;
}

.trip .when {
	float: right;
	margin-left: 20px;
}

.trip .more { 
	float:right; 
	cursor: pointer; 
	padding: 3px 0;
}

.trip .participants, .trip .comments {
	text-align: center;
	float: right;
	overflow: hidden;
	margin-left: 20px;
}

.trip .participants .count, .trip .comments .count {
	font-weight: bold;
	font-size: 26px;
}

.trip .participants .title, .trip .comments, .count {
	font-size: 10px;
}

.trip.participating {
	background: #E8FFD9;
}

.promote {
}

.promote.soon { 
	background: #FFFF99;
}

.promote.today {
	background: #E8FFD9;
}

.footer {
	margin-top: 30px;
	padding-top: 20px;
	font-size: 11px;
	color: #666;
	border-top: 1px solid #eee;
}