<div class="span8">

	<div ng-show="userCreated" class="alert alert-success">
		<strong>Sådan!</strong> Du er nu oprettet som bruger på <i>bikebuddy.dk</i>
	</div>

	<div ng-show="filteredTrips.length == 0">
		<h2>Der er desværre ingen ture der matcher dine kriterier :-(</h2>
	</div>

  <div ng-repeat="trip in filteredTrips" 
	class="trip ng-class: {'participating': trip.participating}" >

	<div class="type">
	  <div class="label ng-class: {'label-success': trip.type == 'MTB', 'label-inverse': trip.type == 'ROAD'}">{{ trip.type }}</div>
	</div>

	<div class="info pointer" ng-click="showTrip(trip)">
	  <span class="where" title="{{ trip.where }} - {{ trip.area | areaName }}">
	  	<strong>{{ trip.where }}</strong> <small>{{ trip.area | areaName }}</small>
	  </span>

	  <div class="details">
		{{ trip.when | date:'d/M/yyyy HH:mm' }}
	  </div>
	</div>

	<div class="participants">
	  <div class="count">{{ trip.participants.length }}</div>
	  <div class="title">deltagere</div>
	</div>

	<div class="comments">
	  <div class="count">{{ trip.comments.length }}</div>
	  <div class="title">kommentarer</div>
	</div>

	<div class="more">  
	  <button  ng-show="!trip.participating" ng-click="join(trip)" class="btn 1btn-primary ng-class: {disabled: trip.participating}" title="Du deltager ikke, klik for at tilmelde">
		<i class="icon-ok 1icon-white"></i>
	  </button>
	  <button ng-show="trip.participating" ng-click="leave(trip)"
			  class="btn 1btn-danger " title="Du deltager allerede, klik for at afmelde">
		<i class="icon-remove 1icon-white"></i>
	  </button>
	</div> 
  </div>
</div>

<div class="span4">
	<div class="menu" >
		<h4>Hvad leder du efter?</h4>
		<form class="form-stacked trip-filter">
			<div class="control-group">
				<div class="control-label"><label>Hvad:</label></div>
				<div class="controls">
					<select ng-model="filter.type">
						<option value="">MTB og landevej</option>
						<option value="MTB">MTB</option>
						<option value="Road">Landevej</option>
					</select>
				</div>
		  	</div>
		  	<div class="control-group">
				<div class="control-label"><label>Hvor:</label></div>
				<div class="controls">
					<select ng-model="filter.area">
						<option value="">Alle steder</option>
						<option ng-repeat="area in areas" value="{{ area.id }}">{{ area.name }}</option>
					</select>
				</div>
			</div>
		</form>

	  	<div class="spacer"></div>

		<h4>Vær med, del din tur!</h4>
		<a href="/tur/ny" class="btn btn-success btn-large btn-full-width">
	  		<i class="icon-share-alt icon-white"></i> Del tur
		</a>
	</div>
</div>