<div class="promotion">
	<h1>Kom med på hjul</h1>
	<h3>Find en cykeltur du vil deltage i, eller del din egen!</h3>
</div>

<div class="grid">
	<div class="col5">
		<h4>Kommende ture nær dig</h4>
		<p>
			Til højre kan du se et par kommende ture nær dig. Tilmeld dig ved at trykke på <i class="icon-ok"></i>

			<br/>
			<br/>
			Skal du selv ud og cykle en tur, og vil have andre med, så skynd dig <a href="#/tur/ny">at dele din tur her!</a>
		</p>
	</div>
	<div class="col7">
		<div ng-show="filteredTrips.length == 0">
			<h2>Der er desværre ingen ture der matcher dine kriterier :-(</h2>
		</div>

		<div ng-include="'/partials/tripList.html'"></div>
		
		<div class="more-trips">
			<a href="#/ture">Se flere ture</a>
		</div>
	</div>
</div>