<div class="grid">
	<div class="col12 profile-header">
		<h4>Min profil</h4>
		<img profile-picture="user" class="profile-image" tooltip tooltip-placement="bottom" rel="tooltip" title="Skift profilbillede" ng-click="changeProfilePicture()" />
	</div> 
	<div class="col12">
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab1" data-toggle="tab">Mine ture</a></li>
				<li><a href="#tab2" data-toggle="tab">Mine oplysninger</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<div class="well well-small">
						Herunder kan du se hvilke ture du deltager i, og ture som du selv har oprettet.
					</div>

					<div class="smartbox">
						<h4 class="smartbox-header">Kommende ture</h4>
						<div class="smartbox-inner">
							<table class="table table-hover">
								<colgroup>
									<col style="width: 100px" />
									<col style="width: 200px" />
									<col />
								</colgroup>
								<thead>
									<tr>
										<th>Type</th>
										<th>Dato og tid</th>
										<th>By</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="trip in trips">
										<td><span class="label ng-class: {'label-success': trip.type == 'MTB', 'label-inverse': trip.type == 'ROAD'}">{{ trip.type }}</span></td>
										<td>{{ trip.when | date:'dd-MM-yyyy HH:mm' }}</td>
										<td>{{ trip.city }} <small>({{trip.where}})</small><span class="pull-right"><a href="#/tur/{{ trip._id }}">Se mere</a></span></td>
									</tr>
									<tr ng-show="trips.length == 0">
										<td colspan="3">
											Du er ikke telmedt nogle ture! <a href="#/ture">Find nogle her</a>
										</td>
									</tr>
							</table>
						</div>
					</div>

					<div class="smartbox">
						<h4 class="smartbox-header">Tidligere ture</h4>
						<div class="smartbox-inner">
							<table class="table table-hover">
								<colgroup>
									<col style="width: 100px" />
									<col style="width: 200px" />
									<col />
								</colgroup>
								<thead>
									<tr>
										<th>Type</th>
										<th>Dato og tid</th>
										<th>By</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="trip in previousTrips">
										<td><span class="label ng-class: {'label-success': trip.type == 'MTB', 'label-inverse': trip.type == 'ROAD'}">{{ trip.type }}</span></td>
										<td>{{ trip.when | date:'dd-MM-yyyy HH:mm' }}</td>
										<td>{{ trip.city }} <small>({{trip.where}})</small><span class="pull-right"><a href="#/tur/{{ trip._id }}">Se mere</a></span></td>
									</tr>
									<tr ng-show="previousTrips.length == 0">
										<td colspan="3">
											<i>Du er ikke telmedt nogle ture! <a href="#/ture">Find nogle her</a></i>
										</td>
									</tr>
							</table>
						</div>
					</div>
				</div>
				
				<div class="tab-pane" id="tab2">
					<form class="form-nice">
						<ul>
							<li>
								<label class="input-label">Navn</label>
								<input type="text" ng-model="user.name"/>
							</li>
							<li>
								<label class="input-label">E-mail</label>
								<input type="text" ng-model="user.email"/>
							</li>	
							<li>
								<label class="input-label">Klub</label>
								<input type="text" ng-model="user.club"/>
							</li>
							<li>
								<label class="input-label">Bopæl</label>
								<input type="text" ng-model="user.location" />
							</li>
							<li>
								<label class="input-label"></label>
								<button class="btn">Gem oplysninger</button>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<form id="profile-picture-form" enctype="multipart/form-data" method="post" action="/api/users/session/picture">
	<input type="file" id="profile-picture-input" name="image"/>
</form>