<div class="grid trip-details">
	<div class="col12">
		<div class="header">
			<h4>
				{{ trip.type | tripType }} fra {{ trip.city }}
				<small>
					({{ trip.where }})
					{{ trip.when | date:'d/M/yyyy HH:mm' }}
				</small>

				<span class="pull-right label label-success" ng-show="trip.participating">
					Du deltager
				</span>
				<span class="pull-right label label-warning" ng-show="!trip.participating">
					Du deltager ikke
				</span>
			</h4>
			
		</div>
	</div>
	<div class="col12">
		<div class="tabbable">
			<ul class="nav nav-tabs">
			  	<li class="active">
			    	<a href="#tab1" data-toggle="tab">Information</a>
			  	</li>
			  	<li>
			  		<a href="#tab2" data-toggle="tab">Deltagere</a>
			  	</li>

				<div class="btn-group pull-right" ng-show="!trip.myTrip">
					<div class="btn" ng-disabled="trip.myTrip || trip.participating" ng-click="join(trip)"><i class="icon-ok"></i> Tilmeld</div>
					<div class="btn" ng-disabled="trip.myTrip || !trip.participating" ng-click="leave(trip)"><i class="icon-remove"></i> Afmeld</div>
				</div>

				<div class="btn-group pull-right" ng-show="trip.myTrip">
					<div class="btn">
						<i class="icon-pencil"></i> Rediger
					</div>
					<div class="btn" >
						<i class="icon-remove icon-white"></i> Aflys
					</div>
				</div>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<div class="smartbox">
						<h4 class="smartbox-header"><i class="icon-align-justify"></i> Beskrivelse</h4>
						<div class="smartbox-inner">
							{{ trip.description }}
							<div ng-show="!trip.description" class="no-description">
								Der er ikke nogen beskrivelse af turen.
							</div>
						</div>
					</div>

					<div class="smartbox comment-list-box">
						<h4 class="smartbox-header">
							<i class="icon-comment"></i> {{ trip.comments.length }} kommentarer
						</h4>
						<div class="smartbox-inner">
							<div class="comment" ng-repeat="comment in comments">
								<div class="quotes">
									<img profile-picture="comment.author" class="profile-image" />
								</div>
								<div class="content">
									<div class="info">
										<strong>{{ comment.author.name }}</strong><br/>
										<small>Kommenterede {{ comment.createdAt | humanize }}</small>
									</div>
									<div class="message">
										{{ comment.message }}
									</div>
								</div>
							</div>

							<div class="comment-form">
								<form name="commentForm" ng-submit="sendComment()">
									<textarea placeholder="Skriv en kommentar" ng-model="comment.message"></textarea>
									<button class="btn btn-info"><i class="icon-comment icon-white"></i> Send</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab2">
					<div class="participant" ng-repeat="participant in trip.participants">
						<img profile-picture="participant.user" src="" class="profile-image"/>
						<div>
							<h5>{{ participant.user.name }}</h5> 
							<span>Tilmeldt turen {{ participant.joinedAt | date:'dd-MM-yyyy HH:mm' }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
