<div class="span12">
	<h4><i class="icon-user"></i> Opret en profil</h4>

	<div class="alert alert-info" ng-show="reason == 'not-logged-in'">
		<strong>Hey, velkommen til!</strong><br />
		Opret venligst en bruger for at bruge sidens funktioner!
	</div>

	<div class="css-arrow-big"></div>

	<form name="form" class="form-nice" ng-submit="submit()" errors="user.errors" errors-model-prefix="user.">
		<ul>
			<li>
				<label class="input-label">Dit navn <small>(påkrævet)</small></label>
				<input type="text" ng-model="user.name" />
			</li>
			<li>
				<label class="input-label">E-mail <small>(påkrævet)</small></label>
				<input type="text" ng-model="user.email" />
			</li>
			<li>
				<label class="input-label">Password <small>(påkrævet)</small></label>
				<input type="password" ng-model="user.password" />
			</li>
			<li>
				<label class="input-label">Gentag password <small>(påkrævet)</small></label>
				<input type="password" ng-model="user.password_confirmation" />
			</li>
			<li>
				<label class="input-label"></label>
				<input type="submit" class="btn btn-primary" value="Opret profil" />
			</li>
	</form>
</div>