<!doctype html>
<html lang="en" ng-app="bb">
<head>
  <meta charset="utf-8">
  <title>bikebuddy - find en cykeltur</title>

  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/app.css"/>
  <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/static/lib/datepicker/css/bootstrap.css" />
</head>
<body ng-controller="AppCtrl">

  <header>
      <div class="container">
        <div class="row">
          <div class="span8">
            <h1><a href="/">bikebuddy</a></h1>
            <h4>find din cykelbuddy</h4>
          </div>
          <div class="span4">
            <div class="links">
              <a href="/">Ture</a>
              <span class="bar">|</span>
              <a href="/profil">Min profil</a>
              <span class="bar">|</span>
              <a href="/om">Om bikebuddy</a>
            </div>
          </div>
      </div>
    </header>

    <div class="container body">
      <div class="row">
        <div ng-view></div>
      </div>

      <div class="row">
        <div class="span12 footer">
          &copy; 2012 jafp (v0.1) - <a href="/om">Om</a> - <a href="/hjaelp">Hjælp</a> - <a href="http://github.com/jafp/bikebuddy">GitHub</a>
        </div>
      </div>
    </div>

  <script src="/static/lib/jquery.js"></script>
  <script src="/static/lib/underscore-min.js"></script>
  <script src="/static/lib/moment.min.js"></script>
  <script src="/static/lib/angular/angular.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.js"></script>
  <script src="/static/lib/datepicker/js/bootstrap-datepicker.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/services.js"></script>
  <script src="/static/js/controllers.js"></script>
  <script src="/static/js/filters.js"></script>
  <script src="/static/js/directives.js"></script>
</body>
</html>
